<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dsl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSL">
        <activity
            android:name=".bus.ChooseBusStationActivity"
            android:exported="false" />
        <activity
            android:name=".bus.SetBusStationActivity"
            android:exported="false" />

        <service
            android:name=".bus.BusNotiService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".schedule.ts_add"
            android:exported="false" />

        <receiver
            android:name=".schedule.TimeScheduleAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".schedule.TimeScheduleAlarmService"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".schedule.Schedule"
            android:exported="false" />
        <activity
            android:name=".schedule.AlarmActivity"
            android:exported="false" /> <!-- notice -->
        <activity
            android:name=".notice.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notice.LoginAddActivity"
            android:exported="false" />
        <activity
            android:name=".notice.SubjectRemoveActivity"
            android:exported="false" />
        <activity
            android:name=".notice.SubjectAddActivity"
            android:exported="false" />
        <activity
            android:name=".notice.SoftwareMajorSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".notice.ContentWriteActivity"
            android:exported="false" />
        <activity
            android:name=".notice.ContentViewActivity"
            android:exported="false" />
        <activity
            android:name=".notice.DataManagementActivity"
            android:exported="false" />
        <activity
            android:name=".notice.ConfMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".notice.NoticeActivity"
            android:exported="false" /> <!-- calender -->
        <activity
            android:name=".calender.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".calender.schedule_content_viewer"
            android:exported="false" />
        <activity
            android:name=".calender.schedule_input"
            android:exported="false" /> <!-- weather -->
        <activity
            android:name=".weather.WeatherActivity"
            android:exported="false" /> <!-- bus -->
        <activity
            android:name=".bus.BusActivity"
            android:exported="false" />
        <activity
            android:name=".bus.BusAlarmListActivity"
            android:exported="false" />
        <activity
            android:name=".bus.BusSettingActivity"
            android:exported="false" />
        <activity
            android:name=".bus.ChooseBusActivity"
            android:exported="false" /> <!-- room -->
        <activity
            android:name=".roompos.RoomPosition"
            android:exported="false" />
    </application>

</manifest>